body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:786px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9639 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:281px;
  width:32px;
  height:32px;
}
#u9639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9641 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:76px;
  width:32px;
  height:32px;
}
#u9641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9642 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:108px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:40px;
  word-wrap:break-word;
}
#u9643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9644 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:146px;
  width:32px;
  height:32px;
}
#u9644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9645 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:178px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:40px;
  word-wrap:break-word;
}
#u9646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9647 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:218px;
  width:32px;
  height:32px;
}
#u9647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9648 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:250px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:40px;
  word-wrap:break-word;
}
#u9649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9649 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:339px;
  width:32px;
  height:32px;
}
#u9649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9651 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:387px;
  width:32px;
  height:32px;
}
#u9651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9652 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:387px;
  width:32px;
  height:32px;
}
#u9652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9653 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:240px;
  width:32px;
  height:32px;
}
#u9653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9654 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:290px;
  width:32px;
  height:32px;
}
#u9654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9656 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:439px;
  width:32px;
  height:32px;
}
#u9656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9657 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:471px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:40px;
  word-wrap:break-word;
}
#u9658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9658 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:76px;
  width:32px;
  height:32px;
}
#u9658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9659 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:128px;
  width:32px;
  height:32px;
}
#u9659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9660 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:76px;
  width:32px;
  height:32px;
}
#u9660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9661 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:76px;
  width:32px;
  height:32px;
}
#u9661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9662 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:76px;
  width:32px;
  height:32px;
}
#u9662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9663 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:76px;
  width:32px;
  height:32px;
}
#u9663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9664 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:167px;
  width:16px;
  height:16px;
}
#u9664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9665 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:167px;
  width:16px;
  height:16px;
}
#u9665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9667 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:191px;
  width:32px;
  height:32px;
}
#u9667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9668 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:223px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u9668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:40px;
  word-wrap:break-word;
}
#u9669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9669 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:362px;
  width:50px;
  height:50px;
}
#u9669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9670 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:362px;
  width:50px;
  height:50px;
}
#u9670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9671 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:362px;
  width:50px;
  height:50px;
}
#u9671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9672 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:243px;
  width:32px;
  height:32px;
}
#u9672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u9673 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:111px;
  width:128px;
  height:128px;
}
#u9673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
