body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:522px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:469px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:521px;
  height:469px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:2px;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:44px;
  width:497px;
  height:1px;
}
#u1922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(16, 142, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:17px;
  width:70px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u1923_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u1924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  text-align:left;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:18px;
  width:70px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  text-align:left;
}
#u1924_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u1925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  text-align:left;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:17px;
  width:70px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  text-align:left;
}
#u1925_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:63px;
  width:349px;
  height:360px;
}
#u1927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1927_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u1928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:0px;
  width:204px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1928_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:172px;
  word-wrap:break-word;
}
#u1929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1929_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:40px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1930_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u1931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1931_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:72px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1932_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u1933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1933_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:104px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1934_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u1935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1935_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1936 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:136px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1936_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u1937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1937_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1938 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:168px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1938_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u1939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1939_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1940 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:200px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1940_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u1941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1941_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:232px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1942_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u1943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1943_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:264px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1944_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u1945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:296px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1945_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:296px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1946_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u1947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:328px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1947_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:328px;
  width:204px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1948_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
