body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-1px;
  width:250px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:250px;
  height:750px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:337px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u1840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:337px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u1842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:337px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:337px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u1846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:337px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u1848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:337px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:307px;
  width:45px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:479px;
  width:57px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:4px;
  width:25px;
  white-space:nowrap;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:485px;
  width:16px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:515px;
  width:16px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:509px;
  width:93px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u1863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:448px;
  width:38px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:546px;
  width:16px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:540px;
  width:105px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:14px;
  width:35px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u1873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:44px;
  width:200px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:192px;
  word-wrap:break-word;
}
#u1875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:22px;
  width:77px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:82px;
  width:65px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:112px;
  width:200px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:192px;
  word-wrap:break-word;
}
#u1882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:88px;
  width:77px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:150px;
  width:65px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:180px;
  width:200px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:257px;
  width:42px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u1893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:257px;
  width:42px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u1895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:257px;
  width:42px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u1897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:257px;
  width:42px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u1899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:227px;
  width:45px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:382px;
  width:66px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u1904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:29px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:409px;
  width:180px;
  height:29px;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
