body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u7446 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:6px;
  width:40px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u7446_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:27px;
  word-wrap:break-word;
}
#u7447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7447 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:38px;
  width:40px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u7447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u7448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u7448 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:6px;
  width:71px;
  height:56px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u7448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u7449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u7449 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:6px;
  width:128px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u7449_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u7450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7450 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:38px;
  width:128px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u7450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u7451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u7451 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:16px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7453 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:63px;
  width:42px;
  height:23px;
}
#u7453_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7453_input:disabled {
  color:grayText;
}
#u7454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7454 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:66px;
  width:17px;
  height:17px;
  font-family:'Anticon Medium', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 0, 0, 0.647058823529412);
}
#u7454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7455 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:66px;
  width:17px;
  height:17px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 255, 0.647058823529412);
}
#u7455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7456 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:63px;
  width:122px;
  height:23px;
}
#u7456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7456_input:disabled {
  color:grayText;
}
#u7457 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:63px;
  width:50px;
  height:23px;
}
#u7457_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7457_input:disabled {
  color:grayText;
}
#u7458 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:62px;
  width:89px;
  height:25px;
}
#u7458_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
