body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:578px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:0px;
  width:360px;
  height:578px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u4034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:37px;
  width:300px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u4036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:1px;
  width:300px;
  height:44px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u4036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u4037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:182px;
  width:300px;
  height:37px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u4038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:219px;
  width:300px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u4039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:149px;
  width:300px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:81px;
  width:71px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u4041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u4042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:81px;
  width:100px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4042_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:88px;
  word-wrap:break-word;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:120px;
  width:60px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4044_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:40px;
  word-wrap:break-word;
}
#u4045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:129px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:120px;
  width:71px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u4046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:255px;
  width:84px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u4048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:255px;
  width:250px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:226px;
  word-wrap:break-word;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:363px;
  width:84px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u4052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:363px;
  width:38px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u4053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:381px;
  width:30px;
  height:18px;
}
#u4054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:291px;
  width:300px;
  height:37px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u4056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:328px;
  width:300px;
  height:37px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u4056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:483px;
  width:89px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u4058_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u4059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:483px;
  width:89px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4059_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u4060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:536px;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:42px;
  width:769px;
  height:536px;
}
#u4060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:2px;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:768px;
  height:1px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u4062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1px;
  width:89px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4064_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:57px;
  white-space:nowrap;
}
#u4065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:1px;
  width:89px;
  height:40px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u4065_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:57px;
  white-space:nowrap;
}
#u4066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:536px;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:42px;
  width:769px;
  height:536px;
}
#u4066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:346px;
  width:20px;
  height:20px;
}
#u4067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
